<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Insert title here</title>
    </head>
    <body>

        <div class="sidebar" th:fragment="left-side">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title">Menu Principal</li> 

                    
                    <li class="nav-item nav-dropdown">
                      <a class="nav-link nav-dropdown-toggle" href="#">
                        <i class="nav-icon icon-settings"></i> Sample</a>
                      <ul class="nav-dropdown-items">
                        <li class="nav-item">
                          <a class="nav-link" th:href="@{/application}" target="_top">
                            <i class="nav-icon icon-settings"></i> Applications</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" target="_top" th:href="@{/generator/crud}">
                          <i class="nav-icon icon-settings"></i> CRUD Generator</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" target="_top" th:href="@{/generator/dao}">
                          <i class="nav-icon icon-settings"></i> DAO Generator</a>
                        </li>
                      </ul>
                    </li>
                    

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon icon-settings"></i> Financeiro</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/sigpc/movement}" target="_top">
                                    <i class="nav-icon icon-settings"></i> Gestão de Movimentos</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon icon-settings"></i> Configuracões</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/sigpc/domain}" target="_top">
                                    <i class="nav-icon icon-settings"></i> Gestão de Domínios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/sigpc/classifier}" target="_top">
                                    <i class="nav-icon icon-settings"></i> Gestão de Classificador Economico</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/sigpc/company}" target="_top">
                                    <i class="nav-icon icon-settings"></i> Gestão de Cliente/Instituicao</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/sigpc/movement/form}" target="_top">
                                    <i class="nav-icon icon-settings"></i> Importar Movimentos</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon icon-settings"></i> Relatorio</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/sigpc/balancesheet}" target="_top">
                                    <i class="nav-icon icon-settings"></i> Balancete</a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>

    </body>
</html>
